@page "/component"

<h3 class="mb-2">Komponenty</h3>


@* <div class="d-flex gap-2">

    @foreach (var item in _authors)
    {
        <Card
            Image="@item.Image"
              BtnAttributes="_cardsAttribute">
            <Title>@item.Title</Title>
            <Content>@item.Content</Content>

        </Card>
    }

</div> *@

<Card @ref="_card"
      Image="/files/Jan-kowalski.png"
      BtnText="@_btnText"
      OnClickMore="ClickMore"
      BtnAttributes="_cardBtnAttributes">
    <Title>
        <b>Jan Kowalski</b>
    </Title>
    <Content>
        <u>Programista C#/.NET</u> z 20 letnim doświadczeniem.<br />
        <u>Specjalizacje:</u>
        <ul>
            <li>Blazor</li>
            <li>ASP.NET Core</li>
        </ul>
    </Content>
</Card>


