@page "/component"

<h3 class="mb-2">Komponenty</h3>

<Modal
    Show="_showDialog"
    OnAccept="ModalAccept"
    OnCancel="ModalCancel">
    <Title>
        Potwierdź
    </Title>
    <Body>
        Czy na pewno chcesz usunąć?
    </Body>
</Modal>

<br />

<button class="btn btn-danger my-2" @onclick="ShowDialog">
    Pokaż okno modalne
</button>

<Card Image="/files/kowalski.png"
      BtnText="Więcej"
      Content="Some quick example text to build on the card title and make up the bulk of the card's content."
      OnClickMore="ClickMore"
      BtnAttributes="_cardBtnAttributes"  >

    <Title>
        <b>Jan Kowalski</b>
    </Title>

</Card>

<div class="d-flex gap-2 mt-2">
    @foreach (var item in _authors)
    {
        <Card Image="@item.Image"
              BtnText="@item.BtnText"
              Content="@item.Content"
              OnClickMore="ClickMore"
              BtnAttributes="_cardBtnAttributes"  >
              <Title>
                <b>@item.Title</b>
              </Title/>
        </Card>
    }
</div>




