@page "/component"

<h3 class="mb-2">Komponenty</h3>

<Card
      Image="/files/kowalski.png"
      Title="Jan Kowalski"
      BtnText="Więcej"
      Content="Some quick example text to build on the card title and make up the bulk of the card's content.">
</Card>

<div class="d-flex gap-2 mt-2">
    @foreach (var item in _authors)
    {
        <Card Image="@item.Image"
              BtnText="@item.BtnText"
              Title="@item.Title"
              Content="@item.Content"
              OnClickMore="ClickMore">
        </Card>
    }
</div>




