@page "/component"

<h3 class="mb-2">Komponenty</h3>

<Card
    Image="/files/Jan-kowalski.png"
    BtnText="Więcej">
    <Title>
        <b> Jan Kowalski </b>
    </Title>
    <Content>
        <p> Jan Kowalski (ur. 1 stycznia 1990 w Warszawie) – polski aktor teatralny, filmowy i telewizyjny, reżyser teatralny, pedagog. </p>
    </Content>

</Card>



<div class="d-flex gap-2">

    @foreach (var item in _authors)
    {
        <Card
            Image="@item.Image"
            Title="item.Title"
            BtnText="@item.BtnText"
            Content="@item.Content"
            OnClickMore="ClickMore">

        </Card>
    }

</div>


