@page "/"

<PageTitle>Home</PageTitle>

<SectionContent SectionId="MainLayout.TopSection">
    <p>Strona główna. @DateTime.Now.ToString("dd-MM-yyyy")</p>
</SectionContent>

<button type="button" class="btn btn-secondary" @onclick="BackHomework">Homework</button>
