@page "/homework"
@page "/homework-parameter/{header?}"

<PageTitle>Homework</PageTitle>

<h1>@(Header??"Praca domowa")</h1>

<button type="button" class="btn btn-secondary" @onclick="BackHome">Home</button>
