@page "/javascript"

<h3>JavaScript</h3>

<button class="btn btn-info btn-lg mt-3" @onclick="CallJs">Wyświetl Alert(JavaScript)</button>

<br />

<button class="btn btn-dark btn-lg mt-3" @onclick="DisplayConfigDialog">Wyświetl potwierdzenie</button>

<br />

<button class="btn btn-info btn-lg mt-3" @onclick="ShowResultJs">Wyświetl wynik</button>

<br/>

<button class="btn btn-dark btn-lg mt-3" @onclick="ShowResultCSharp">Wyświetl wynik (JavaScript/C#)</button>

<br />

<button class="btn btn-dark btn-lg mt-3" @onclick="ShowDate">Wyświetl date</button>

@if(!string.IsNullOrWhiteSpace(_currentDate))
{
    <p class="text-info mt-2">Aktualna data: @_currentDate</p>
}

@if (_isConfigDialogVisible)
{
    <p class="text-success mt-2">Potwierdzono</p>
}
else
{
    <p class="text-info mt-2">Oczekiwanie</p>
}
